.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("https://thumbs.dreamstime.com/b/texture-orange-cement-wall-smooth-simple-bright-background-copy-space-pattern-surface-graphics-design-modern-145083115.jpg");
    background-size: cover;
}

.loginTitle{
    font-size: 49px;
}

.loginForm{
    margin-top: 19px;
    display: flex;
    flex-direction: column;
}

.loginForm > label {
    margin: 11px 0;
}

.loginInput{
    padding: 11px;
    background-color: white;
    border: none;
}

.loginButton{
    margin-top: 19px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 11px;
}
.loginRegister{
    position: absolute;
    top: 61px;
    right: 21px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 11px;
    color: white;
    border-radius: 11px;
}
