.write {
    padding-top: 50px;
}

.writeImg{
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.writeform{
    position: relative;

}
.writeformGroup{
    margin-left: 150px;
    display: flex;
    align-items: center;

}

.writeIcon{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: sienna;
    cursor: pointer;
}

.writeInput{
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
}

.writeInput:focus{
    outline: none;
}

.writeText{
    font-size: 20px;
    height: 1000px;
}

.writeSubmit{
    position: absolute;
    top: 800px;
    right: 50px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}