.header{
    margin-top: 60px;
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora',serif;
    color: #444;
}

.headerTitleSm{
    position: absolute;
    top: 15%;
    font-size: 20px;
    margin-right: 45px;

}
.headerTitle{
    position: absolute;
    margin-top: 2%;
    font-size: 30px;
    margin-right: 45px;
}

.headerImg{
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}

